@import "css-reset.css";

:root {
    --purple: #4f00bd;
    --light-purple: #c05bff;
    --gold: #e7c92b;
    --beige: #f9e7cf;
    --white: #ffffff;
    --coral: #dc4a75;
    --red: #ff0000;
    --black: #000000;
}

body, html {
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.game-info {
    display: flex;
    align-self: flex-start;
    gap: 20px;
    font-size: 20px;
}

.deck, .trump {
    background-color: var(--beige);
    padding: 15px;
    border-radius: 15px;
}

.playing-board {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 100px 20px 20px;
    background-color: var(--beige);
    border-radius: 20px;
    width: 80vw;
    height: 85vh;
}

.player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.player__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.player__cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.player__actions {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    gap: 10px;
}

.button_take-cards, .button_done {
    all: unset;
    padding: 10px 20px;
    background-color: var(--coral);
    color: var(--white);
    border-radius: 10px;
    text-align: center;
}

.button_take-cards:disabled, .button_done:disabled {
    background-color: #ad969c;
}

.card {
    width: 100px;
    height: 120px;
    background-color: var(--purple);
    color: var(--white);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card_selected {
    border: 5px solid var(--gold);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.card__suit {
    font-size: 60px;
}

.suit_clubs::after {
    content: "\2663";
    color: var(--black);
}

.suit_hearts::after {
    content: "\2665";
    color: var(--red);
}

.suit_spades::after {
    content: "\2660";
    color: var(--black);
}

.suit_diamonds::after {
    content: "\2666";
    color: var(--red);
}

.field-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.card-pair .card {
    position: absolute;
}

.card-pair .card_attacker {
    position: relative;
}

.card-pair .card_defender {
    position: absolute;
    background-color: var(--light-purple);
    top: 50%;
}

.modal-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    width: 40vw;
    height: 35vh;
}

.modal__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.modal_button-close {
    all: unset;
    position: absolute;
    text-align: center;
    top: 10px;
    right: 10px;
    padding: 10px 15px;
    background-color: var(--coral);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
}

.modal__content_winner {
    font-size: 24px;
}

.modal_button-ok {
    all: unset;
    text-align: center;
    padding: 15px 25px;
    background-color: var(--coral);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
}
